{% extends 'base.html'%}
{%load static %}
{% block style%}

.staticing{
    display:inline-block;
    flex-wrap:  wrap ;
    margin:12px;
    width: auto;
}
.card-img-top{
width:20rem !important;
height:15rem !important;
}

{%endblock%}
{% block content %}
<h1>ابرز الاطباق</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel"  style="width:100%; height:20%;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'slider/slider (4).jpg' %}" alt="Los Angeles"   style="width:100%; height:100%;">
    </div>

    <div class="item">
      <img src="{% static 'slider/slider (5).jpg' %}" alt="Chicago"   style="width:100%; height:100%;">
    </div>

    <div class="item">
      <img src="{% static 'slider/slider (6).jpg' %}" alt="New York"   style="width:100%; height:100%;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <h1> اختر اصنافك لرقم الطاولة {{custom}}</h1>
{% for cat in category %}
        <h1>{{cat}}</h1>
        {% for food in cat.category_meals.all %}
<div class="staticing">
            <div class="card" style="width: 20.2rem ; height:35rem;">
              <img class="card-img-top" src="{{ food.meal_image.url }}" alt="Card image cap" >
              <div class="card-body">
                <h5 class="card-title">{{food}}</h5>
                <div class="card-text">
                    <p>{{food.description}}</p>
                    <p>السعر= {{food.price}}</p>
                    <p>
                        <span>الكمية</span>
                    <form action="/addfood/{{food.id}}" class="food" method="POST">
                    {% csrf_token %}
                        <input type="number" name="quantity" value="1" min="1">
                            <button type="submit" class="btn btn-primary">اضافة الى القائمة</button>
                    </form></p>
                </div>
              </div>
            </div></div>
        {%endfor%}
        {%endfor%}
<br><br>
<a href="/food"><BUTTON class="btn btn-success" > الذهاب لتاكيد الطلب</BUTTON>
</a>
{% endblock %}
{% block javascript %}
    $(document).on('click','.btn-primary',function(event){
        event.preventDefault();
        var form = $(this).parents();
const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title: 'هل انت متاكد من اضافة الصنف؟',
  text: "سيتم اضافة هذا الصنف الى قائمة الطعام",
  icon: 'question',
  showCancelButton: true,
  confirmButtonText: 'نعم قم باضافته',
  cancelButtonText: 'لا تقم بالاضافة!',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
    swalWithBootstrapButtons.fire(
      'تمت العملية!',
      'تمت اضافة الصنف بنجاح.',
      'success'

    ).then(function() {
                form.submit();})

  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelled',
      'لم يتم اضافة الصنف :)',
      'error'
    )
  }
})
    });
{% endblock %}