{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}
{% block style%}

.center {
margin: auto;
padding: 10px;
width : 400%;
}
.log{
display:flex;}
{%endblock%}
{% block content %}
<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">restaurant dashboard</a>
</nav>
<div class="log">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height:1000px">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">resturant</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          البداية
        </a>
      </li>
      <li>
        <a href="/orders" class="nav-link active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          الفواتير
        </a>
      </li>
      <li>
        <a href="/kitchen" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          الطلبات
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Check</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          {% if user.is_authenticated %}
Hello, {{ user.first_name }} {{ user.last_name }}
        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
{% else %}
                  <li><a class="dropdown-item" href="/accounts/login/">Sign in</a></li>
{%endif%}

    </div></div>
<section>
	<div class="center">
	<div>
        <br>
    <form method='GET'>
      <div class="columns is-centered mb-1">
        <div class="column is-11">
            <p class="control has-icons-left">
              <input class='input' type='date' name='created_at' value='{{ request.GET.created_at }}' placeholder="Search">
        <div class="column">
          <input class="btn btn-primary" type='submit' value="Search">
        </div>

<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> رقم الطلب </th>
                <th scope="col"> رقم الطاولة </th>
                <th scope="col"> المبلغ </th>
                <th scope="col"> تاريخ الطلب </th>
            </tr>
{% for ord in order%}

                <tr>
                <th scope="row"> {{ord.id}} </th>
                <th scope="row"><a href="/orders/{{ord.id}}"> طاولة رقم {{ord.table_number}} </a></th>
                <th scope="row"> {{ord.total}} </th>
                <th scope="row"> {{ord.created_at}} </th>
            </tr>
    {%endfor%}
</section>
	</div>
{%endblock%}
